.hero p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #17458f;
    color: #fff;
    text-decoration: none;
    border-radius: 1rem;
    font-weight: 500;
    transition: background-color .2s ease, transform .2s ease;
}

.btn:hover {
    background-color: #0f3268;
    transform: translateY(-3px);
}



.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.news-item {
    margin-bottom: 0.75rem;
}

.section {
    background-color: #657f991a;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.center{
    text-align: center;
}

.section .section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}